*{
    font-family: 
    'Lexend Mega', 
    sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: white;
    border-bottom: 2px solid red;
}

header h1 {
    display: flex;
}

header nav {
    float: right;
    text-align: right;

}

header .logo {
    float: left;
}

header nav li {
    display: inline;
    padding-left: 10px;
}


li {
  list-style: none;  
}

h2 {
    color: red;
    text-align: center;
    font-size: 24px;
}

p {
    color: rgb(95, 91, 91);
    font-size: 16px;
}

form {
   border: 1px solid black;
   border-radius: 5px;
   padding: 10px;
   margin: 0;
   clear: both;
}

.container {
    margin-top: 40px;
    padding: 40px 10px;
    display: flex;
    flex-flow: row wrap;
}

article {
    width: 50%;
}

nav ul li:hover {
    color: red;
}

header p {
    display: none;
}

@media screen and (max-width:600px){
    header nav {
        display: none;
    }

    header p {
        display: inline-block;
        float: right;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px){
    article {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}